In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaeo,NZ,2021-02-07 20:20:05,-35.1000,173.7833,68.00,80,38,8.99
1,1,Cabo San Lucas,MX,2021-02-07 20:20:05,22.8909,-109.9124,75.99,60,20,5.75
2,2,Ternate,ID,2021-02-07 20:20:05,0.8000,127.4000,80.76,79,94,4.68
3,3,Shiyan,CN,2021-02-07 20:19:07,32.6475,110.7781,43.05,59,100,6.67
4,4,Ushuaia,AR,2021-02-07 20:17:56,-54.8000,-68.3000,60.80,55,40,8.05

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cabo San Lucas,MX,2021-02-07 20:20:05,22.8909,-109.9124,75.99,60,20,5.75
2,2,Ternate,ID,2021-02-07 20:20:05,0.8000,127.4000,80.76,79,94,4.68
6,6,Atuona,PF,2021-02-07 20:20:06,-9.8000,-139.0333,79.21,75,27,21.61
7,7,Mahajanga,MG,2021-02-07 20:20:06,-15.7167,46.3167,78.80,94,40,3.44
10,10,Inirida,CO,2021-02-07 20:20:06,3.8653,-67.9239,82.78,84,100,0.20
12,12,Poum,NC,2021-02-07 20:20:06,-20.2333,164.0167,79.21,72,100,2.26
14,14,Dolores,AR,2021-02-07 20:20:07,-36.3132,-57.6792,76.96,56,41,15.30
16,16,San Cristobal,VE,2021-02-07 20:20:07,7.7669,-72.2250,86.00,54,40,8.05
17,17,Saint-Georges,GD,2021-02-07 20:20:07,12.0564,-61.7485,80.60,74,75,19.57
19,19,Castro,BR,2021-02-07 20:20:07,-24.7911,-50.0119,75.16,58,0,3.13

In [12]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [13]:
preferred_cities_df=preferred_cities_df.dropna()

In [14]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [15]:
# 6.5.4 Get travel destinations

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Cabo San Lucas      MX     75.99  22.8909 -109.9124
2          Ternate      ID     80.76   0.8000  127.4000
6           Atuona      PF     79.21  -9.8000 -139.0333
7        Mahajanga      MG     78.80 -15.7167   46.3167
10         Inirida      CO     82.78   3.8653  -67.9239
12            Poum      NC     79.21 -20.2333  164.0167
14         Dolores      AR     76.96 -36.3132  -57.6792
16   San Cristobal      VE     86.00   7.7669  -72.2250
17   Saint-Georges      GD     80.60  12.0564  -61.7485
19          Castro      BR     75.16 -24.7911  -50.0119

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cabo San Lucas,MX,75.99,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,Ternate,ID,80.76,0.8000,127.4000,Grand Dafam Bela Ternate
6,Atuona,PF,79.21,-9.8000,-139.0333,Villa Enata
7,Mahajanga,MG,78.80,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga
10,Inirida,CO,82.78,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
12,Poum,NC,79.21,-20.2333,164.0167,Gîte kajeon
14,Dolores,AR,76.96,-36.3132,-57.6792,Apart Hotel - Arianos
16,San Cristobal,VE,86.00,7.7669,-72.2250,Pirineos
17,Saint-Georges,GD,80.60,12.0564,-61.7485,Siesta Hotel
19,Castro,BR,75.16,-24.7911,-50.0119,CHACARA BAILLY

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))